<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Trading Signals from CCTS!</title>
    <style type="text/css">
      body, td { color:#000000; font-size:14px; font-family:Verdana,Helvetica,Arial; }
      h2 { margin-top:15px; margin-bottom:8px; font-size:18px; }
      p { margin:8px 0; padding: 5px; }
      img { border:solid 1px #777777; }
      table { border-collapse:collapse; }
      th, td { padding: 10px; text-align: left; border-bottom: 1px solid #ddd; }
      th { background-color: #636363;  color: white; padding-top: 5px; padding-bottom: 5px; }
      .duration { font-size:11px;color:#555555; }
      #footer { font-size:11px; color:#555555; }
      #footer a { color:#555555; }
      .green {background-color: green; color: white; padding: 5px; border-radius: 5px; text-align: center;}
      .orange {background-color: orange; color: white; padding: 5px; border-radius: 5px; text-align: center;}
      .yellow {background-color: yellow; color: white; padding: 5px; border-radius: 5px; text-align: center;}
      .red {background-color: red; color: white; padding: 5px; border-radius: 5px; text-align: center;}
    </style>
  </head>
  <body>
    <%= yield %>
    <hr>
    <div id="footer">
      <p>Grazie per avere utilizzato Trading Signals from CCTS!</p>
    </div>
  </body>
</html>
